{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <div class="media">
      <img class="rounded-circle account-img" src="{{ image_file }}">
      <div class="media-body">
        <h2 class="account-heading">{{ current_user.username }}</h2>
      </div>
    </div>
    <!-- FORM HERE -->
    {% for character in characters %}
    <div class="content-section">
      <div class="media">
        <img class="rounded-circle img-responsive character-img" src="{{ url_for('static', filename='profile_pics/' + character.character_image) }}">
        <div class="media-body">
          <a class="character-name" href="{{ url_for('character', char_id=character.id) }}"> {{ character.given_name }} </a>
          <p> Level {{ character.lvl }} {{ character.classname }}<p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
{% endblock content %}